# Binaries for programs and plugins
bin
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Interim test files
examples/entangled.mid
examples/*.gp
examples/*.xml
tmp

# Miscellaneous
documentation/midi.org

# MacOS
.DS_Store
