.DS_Store
bin
dist
workdir
tmp
examples/entangled.mid
examples/jukskei.mid
examples/interstellar.mid
examples/*.gp
examples/*.xml
examples/test-midi-files
examples/tetragon
documentation/midi.org
documentation/R & D
codegen
